@model IEnumerable<Song>

<h2>Songbook</h2>

<input type="text" id="searchInput" placeholder="Search songs...">

<table id="songTable" class="table">
    <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th>Composer/Artist</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var song in @Model)
    {
        <tr>
            <td><a href="/Song/UpdateSong/@song.SongID"><img src="~/Images/update.png" width="14" alt="Edit this song" /></a></td>
            <td></td>
            <td><a href="/Song/ViewLyrics/@song.SongID">@song.Title</a></td>
            @if (song.Artist == null)
            {
                <td>@song.Composer</td>
            }
            else
            {
                <td>@song.Artist</td>
            }
            <td><a href="@song.Spotify" target="_blank"><img src="~/Images/spotify.png" width="22" alt="Listen on Spotify" /></a></td>
            <td><a href="@song.YouTube" target="_blank"><img src="~/Images/youtube.png" width="22" alt="Watch on YouTube" /></a></td>
        </tr>
    }
</table>

<div>
    <a href="@Url.Action("InsertSong", "Song")" class="btn btn-secondary">Add a New Song</a>
</div>


@section Scripts {
    <script>$(document).ready(function () {
            $('#searchInput').on('keyup', function () {
                var query = $(this).val().toLowerCase();
                console.log('Search query:', query);
                $('#songTable tbody tr').each(function () {
                    var title = $(this).find('td:nth-child(3) a').text().toLowerCase();
                    var artistOrComposer = $(this).find('td:nth-child(4)').text().toLowerCase();
                    console.log('Title:', title, 'Composer/Artist:', artistOrComposer);
                    if (title.includes(query) || artistOrComposer.includes(query)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });</script>
}