@model Song

<h3>@Model.Title</h3>
<h5>written by @Model.Composer</h5>
@if (Model.Artist != null)
{
    <h5>popularized by @Model.Artist</h5>
}

<table class="table">
    <tr>
        <th>Section</th>
        <th>Lyrics</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var lyric in @Model.Lyrics)
    {
        <tr>
            <td>@lyric.Section</td>
            <td style="white-space: pre-line;">
                @Html.Raw(lyric.Text)
            </td>
            <td><a href="/Song/UpdateLyrics/@lyric.SongPartID"><img src="~/Images/update.png" width="21" alt="Edit this paragraph"/></a></td>
            <td><a href="/Song/DeleteLyrics/@lyric.SongPartID" onclick="return confirm('Are you sure?')"><img src="~/Images/delete.png" width="17" alt="Delete this paragraph"/></a></td>
        </tr>
    }
</table>

<p></p>

<div style="text-align: right">
    <a href="@Url.Action("InsertLyrics", "Song", new { id = Model.SongID })" class="btn btn-secondary">Add lyrics</a>
</div>

<div>
    <a href="@Url.Action("Index", "Song")" class="btn btn-primary">Back to Songbook</a>
</div>